body{background-color:$white;}
p{margin: 0 !important;}
section { text-align: center; font-family: 'Muli'; }
.testo{padding: 2% 0}
h2{font-family: 'Muli'; font-size: 1.5em; text-transform: uppercase; font-weight: 700; }
h3{font-family: 'Muli'; font-size: 1.3em; text-transform: uppercase; font-weight: 800; }
.testo p{
    font-family: 'Muli';
    text-transform:inherit;
    text-decoration:none;
    @include breakpoint(small) {
      font-size: 0.9em !important;
    }
    @include breakpoint(medium) {
      font-size: 1em !important;
    }

    @include breakpoint(large) {
      font-size: 1.1em !important;
    }

  }
.container > section:not(:first-child) {
  opacity: 0;
  transition: all 1s linear;
}


.container, #hp{padding: 0;}

li.blurImg img {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

#backtotop {
  position: fixed;
  bottom: 20px; right: 20px;
  opacity: 0;
  transition: all 0.5s linear;
  z-index: 10;
}
#masthead { background-color: #000 !important; /*height: 105px !important;*/ }

.is-dropdown-submenu {
  transition: all 0.5s linear;
  left: -11px !important;
  top: 40px !important;
  opacity: 0;
}

.is-dropdown-submenu-item {
  display: inline-block;

  a {  white-space: nowrap !important;
      padding: 10px 10px 10px 10px !important;
      font-style: italic;
      text-transform: uppercase;
      font-weight: 300 !important;
      font-size: 12px !important;
    }
}

.js-dropdown-active { z-index: 0 !important; }

#slider { padding: 24px 12%; margin: 2% 0; background-color: #f8f8ee; }

#gallery{
  @include grid-row();
    .columns{padding: 0;}
}

#info {
  padding: 10px 10%;
  font-family: Muli;
  text-align: left;
  font-size: 11px;
  h4 { text-align: center; font-weight: bold; font-size: 15px; }
  @include grid-row();
  .infobox {

    .promo {
      float: left;
      position: relative;
      border: 1px solid #888;
      box-shadow: 3px 3px 1px #888;
      font-size: 13px;
      b { text-transform: uppercase; }
      b,i,p { float: left;  clear: left;  margin: 4px !important; }

    }
    @include grid-column(4);
    .columns{padding: 0;}
  }

  #orari {
    h3 { text-transform: none;}
    background-color: #000;
    color: #f1bc26;
    th,td { background-color: #000; padding: 2px 0; color: #fff; }
    td { text-align: right; }
    .selected { color: #9f9; font-weight: bold; }
  }
}



#servizi {
  background-color: #f8f8ee;

  padding: 14px 15%;
  margin: 2% 0;
  text-align: center;
  font-family: Muli;
  .griglia-servizi {
    @include grid-row();
    width: 100% !important;
    .ico-serv {
       padding: 4px !important;
       @include grid-column(3);

    }
  }
}


#sponsor{

  margin-top: 14px;
  padding: 10px 10%;

  #lista-loghi {
    @include grid-row();
    max-width: 57rem !important;
    .thumbnail{box-shadow: 0 0 0 0 !important;}
    @include breakpoint(small) {
      .griglia-loghi {
        padding: 0 !important;
        img {width: 100%; }
        @include grid-column(3);
      }
    }

    @include breakpoint(large) {
      @include grid-row();
      .griglia-loghi {
        padding: 0 !important;
        img {width: 100%; }
        @include grid-column(3);
      }
    }
  }

}

#contatti {
  background-color: #f8f8ee;
  margin: 2% 0 ;
  padding: 14px 10%;


  .box-contatti {
    text-align: left;
    font-size: 12px;
    font-family: Muli;
    padding: 14px 0;
    @include grid-row();
    .intro-row {
      text-align: left;
      padding: 14px 0;
      @include grid-column(12);
    }
    .item-contatti {
      @include grid-column(4);
      p { margin-top: 10px; }
    }
    .mappa {
      @include grid-column(8);
    }
    .riffs { margin-top: 200px; }
  }

}

#griglia-promo {
  padding: 3% 0;
  .promo {
    float: left;
    position: relative;
    img { border: 1px solid #888;
    box-shadow: 3px 3px 1px #888; }
    font-size: 13px;
    b { text-transform: uppercase; }
    b,i,p { float: left;  clear: left;  margin: 4px !important; }
    margin-bottom: 25px;
  }
}

.newsbox {
  .newsthumb { float: left; width: 200px; margin: 14px 14px 14px 0; }
  .newsinfo { float: left; width: 70%; font-family: Muli; font-size: 16px;
    b,span,p { float: left; clear: left;}
    span,p { margin-top: 17px; }
  }
}

.infos { padding: 0 24px; p { font-size: 16px; } }
