body{background-color:$white;}
p{margin: 0 !important;}
section {padding: 3% 0; text-align: center;}
.testo{padding: 2% 0}
h3{font-family: 'Muli'; font-size: 1.2em; text-transform: uppercase; font-weight: 800; }
.testo p{
    font-family: 'Muli';
    text-transform:inherit;
    text-decoration:none;
    @include breakpoint(small) {
      font-size: 0.9em !important;
    }
    @include breakpoint(medium) {
      font-size: 1em !important;
    }

    @include breakpoint(large) {
      font-size: 1.1em !important;
    }

  }
.container > section:not(:first-child) {
  opacity: 0;
  transition: all 1s linear;
}


.container, #hp{padding: 0;}

li.blurImg img {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

#backtotop {
  position: fixed;
  bottom: 20px; right: 20px;
  opacity: 0;
  transition: all 0.5s linear;
  z-index: 10;
}
#masthead { background-color: #000 !important; /*height: 105px !important;*/ }

.is-dropdown-submenu {
  transition: all 0.5s linear;
  left: -11px !important;
  top: 40px !important;
  opacity: 0;
}

.is-dropdown-submenu-item {
  display: inline-block;

  a {  white-space: nowrap !important;
      padding: 10px 10px 10px 10px !important;
      font-style: italic;
      text-transform: uppercase;
      font-weight: 300 !important;
      font-size: 12px !important;
    }
}

.js-dropdown-active { z-index: 0 !important; }

#slider { padding: 10px 10%; }


/*#hp{
max-width: 100% !important;
background-color: #000000 !important;
@include grid-row();
  .claim {

      img{
        position: absolute;
        bottom: 35%;
        @include breakpoint(small) {
          left: 10%;
          width: 85%;
        }
        @include breakpoint(medium) {
          left: 15%;
          width: 70%;
        }
        @include breakpoint(large) {
          left: 20%;
          width: 60%;
        }
      }
}


}*/





     p.work{
      @include breakpoint(small) {
       font-weight:inherit; font-size: 0.7em; font-style: italic;
     }
     @include breakpoint(medium) {
      font-weight:inherit; font-size: 0.8em; font-style: italic;
    }
    @include breakpoint(large) {
     font-weight:inherit; font-size: 0.85em; font-style: italic;
   }
}





#gallery{
  @include grid-row();
    .columns{padding: 0;}
}

#news {
  padding: 10px 10%;
  .newsbox {
    @include grid-row();
    .columns{padding: 0;}
  }
}

#gp{
  .winner{
    position: relative;
  @include grid-row();

     width: 100%;
     margin-left: auto;
     margin-right: auto;
     max-width: initial;
   }
   .player{
  //  @include grid-row();
     position: absolute;
     width: 100%;
     max-width: 2560px;
     color: #ffffff;

     h3{text-decoration: none !important; font-weight: 900; text-transform: capitalize;}
     h3.spot-winner{text-decoration: underline !important; font-weight: 900; }
       @include breakpoint(small) {
         bottom: 10%;
         p.desc{font-size: 0.9em !important;}
       }

       @include breakpoint(medium) {
         bottom: 20%;
         h3{font-size: 1.8em !important;}
         p.desc{font-size: 1em !important;}
         h3.spot-winner{font-size: 1.5em !important; }
       }

       @include breakpoint(large) {
         h3{font-size: 1.4em !important;}
         p.desc{font-size: 1.2em !important;}
         h3.spot-winner{font-size: 1.7em !important;}
         bottom: 20%;
       }

       @include breakpoint(xlarge) {
         h3{font-size: 1.5em !important;}
         p.desc{font-size: 0.9em !important;}
         h3.spot-winner{font-size: 1.2em !important;}
          bottom: 10%;
          .logo-player{width: 3%;}
       }

       @include breakpoint(xxlarge) {
         h3{font-size: 2.1em !important;}
         bottom: 15%;
         h3.spot-winner{font-size: 1.8em !important;}
       }

   }
}


#winner-list{
  max-width: 100% !important;
  #video{
    .thumb-video{
      position: relative;
      cursor: pointer;
          .caption {
          	display: none;
          	position: absolute;
          	top: 0;
          	left: 0;
          	background: url(../../images/gp30/overlay.png);
          	width: 100%;
          	height: 100%;
            padding: 8%;

            h3{
              font-weight: 900;
              color: #000000;
              font-size: 1.2em;
            }

            ul{
              list-style-type: none;
                li span{font-weight: bold;}
            }
          }

      }

     @include grid-row();

        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: initial;
}
       @include breakpoint(small) {

                  @include grid-row();
                                .thumb-video {
                                  padding: 0 !important;
                                   img {width: 100%; margin: 0;}
                                    @include grid-column(12);
                                  }
                     }

                     @include breakpoint(medium) {

                                @include grid-row();
                                              .thumb-video {
                                                padding: 0 !important;
                                                 img {width: 100%; margin: 0;}
                                                  @include grid-column(4);
                                                }
                                   }

                     @include breakpoint(large) {

                                @include grid-row();
                                              .thumb-video {
                                                padding: 0 !important;
                                                  img {width: 100%; margin: 0;}
                                                  @include grid-column(3);
                                                }
                                   }
}


#interviste{
   background-color: #f3f3f3;
   max-width: 100% !important;
   @include breakpoint(small) {
.testo p{font-size: 0.9em !important;}

}

  @include breakpoint(medium) {
    .testo p{font-size: 1em !important;}

  }

  @include breakpoint(large) {
    .testo p{font-size: 1.1em !important;}

  }


   .carosel{
    @include grid-row();
      max-width: 57rem !important;




}
}


#sponsor{

  margin-top: 14px;
  padding: 10px 10%;

#lista-loghi {
  @include grid-row();
    max-width: 57rem !important;
    .thumbnail{box-shadow: 0 0 0 0 !important;}
      @include breakpoint(small) {
         .griglia-loghi {
           padding: 0 !important;
            img {width: 100%; }
             @include grid-column(3);
           }
        }

              @include breakpoint(large) {

                         @include grid-row();
                                       .griglia-loghi {
                                         padding: 0 !important;
                                          img {width: 100%; }
                                           @include grid-column(3);
                                         }
                            }
}

}
