.griglia{
  @include grid-row();
  padding: 35px 0;
  h2{
    text-align: center;
    text-transform: uppercase;
    padding: 5% 0;
  }

.griglia-negozi {
  @include grid-column(3);
    float: left;
    padding: 5px !important;
    border: 1px solid #000000;
    overflow: hidden;
    img {
        width: 100%;
        transition: all 0.5s ease;
        &:hover { transform:scale(1.22); }
    }

  }
}
