.griglia{
  @include grid-row();
  padding: 5% 2%;
  h2{
    text-align: center;
    text-transform: uppercase;
    padding: 5% 0;
  }

.griglia-negozi {
@include breakpoint(small) {
  @include grid-column(6);
}
@include breakpoint(medium) {
  @include grid-column(4);
}
@include breakpoint(large) {
  @include grid-column(3);
}

    float: left !important;
    padding: 5px !important;
    border: 1px solid #000000;
    overflow: hidden;
    img {
        width: 100%;
        transition: all 0.5s ease;
        &:hover { transform:scale(1.22); }
    }

  }
}
