
#rassegna{
  padding: 5% 2%;
  h3{margin-bottom: 80px;}
.content{
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 20px;
  @include grid-row();
  text-align: left;
    .titolo a{
      @include grid-column(12);
      font-weight: 700;
      font-size: 1.4em;
      color: #000000;
    }

  }
}
