#gallery{
  padding: 3% 3%;
  h2{text-decoration: underline; text-transform: uppercase; font-size:1.5em;padding-bottom: 3%;}
}

#bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun1_0{margin:1px !important;}
