.slider {
background-color:#ffffff ;
margin-left: auto;
margin-right: auto;
height: 100%; 
  @include breakpoint(small) {
  margin-top: 50px;
  }
  @include breakpoint(medium) {
  margin-top: 40px;
  }
  @include breakpoint(large) {
  margin-top: 0 !important;
  }
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}
