.slider {
background-color:#ffffff ;
margin-left: auto;
margin-right: auto;
  @include breakpoint(small) {
  min-height: 200px !important;
  margin-top: 50px;
  }
  @include breakpoint(medium) {
  min-height: 200px;
  margin-top: 40px;
  }
  @include breakpoint(large) {
  min-height: 200px;
  margin-top: 0 !important;
  }
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}
